<html>
    <head>
        <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" /> -->
    </head>
    <body>  
        <div class="container">
        @RenderBody()
        </div>
        <p><a href="/">Go Home</a></p>
    </body>
</html>